

//--- Colour variables ---//
$old-mutual-green: #005842;
$black: #2f3133;
$dark-grey: #57595b;
$medium-grey: #bec0c2;
$grey: #e0e2e4;
$action-green: #78b928;
$orange: #ffaa0f;
$blue: #19b1e8;
$dark-green: #157261;
$pink: #b8166b;
$light-grey: #f1f2f5;
$background: #f4f7f6;
$facebook-blue: #3b5998;
$google-red: #dd4b39;
$light-green: #97c3b2;
$twitter-blue: #1da1f2;
$hint-grey: #afb2b5;
$linkedin-blue: #0077b5;
$white: #fff;



//--- Icon rollover variables ---//
$dark-green2: #54821c;
$dark-green3: #003d2e;
$dark-green4: #6a897d;
$dark-grey2: #3d3e3f;


