.footer{
  padding:21px 0 23px;
  font-size:10px;
  line-height:1.33;
  font-weight: 600;
  text-transform: uppercase;
  box-shadow: inset 0 1px 0 0 $light-grey;
  
  @include breakpoint(sm) {
    font-size:12px;
  }
  @include breakpoint(lg) {
    padding:25px 0;
    
  }
  
  >.container-fluid-outer{
    position:relative;
  }
  
  &__left{  
    margin-bottom:20px;
    
    
    ul{        
      li{
        float:left;
        margin-left:23px;       
        &:first-child{
          margin-left:0;
        }
        
      }
    }
    @include breakpoint(lg) {
      float:left;
      margin-bottom:0;      
      ul{
        display:block;
        margin-top:8px;
        margin-bottom:7px;
        li{
          text-align: left;
          margin-left:35px;
        }
      }      
    }
    
  }
  
  &__copyright{
    float:left;
    font-weight: normal;
    line-height:1.6;
    @include breakpoint(sm) {
      margin-top:8px;
      line-height:1.33;
    }
    @include breakpoint(lg) {
      position:absolute;
      top:0;
      left:50%;
      width:300px;
      margin-left:-150px;      
      text-align: center;
    }
  }
  
  &__right{  
    float:right;
    
    p{display:none; margin-right:7px; }
    a{display:inline-block; margin-left:7px; vertical-align: middle;}
    
    @include breakpoint(lg) {
      p{display:inline-block;}
    }
    
  }
  
}